*{
    margin: 0;
    padding: 0;
}

/* ----------------------Header------------------------- */

.ac-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0 2%;
}

.ac-head p{
    color: #fff;
    font-size: 4rem;
}

.ac-hr{
    border: 2px solid #fff;
    width: 25rem;
    border-radius: 5px;
}

/* ----------------------Row-1------------------------- */

.ac-row1{
    display: flex;
    justify-content: center;
}

.ac-row1-lft{
    width: 50rem;
}

.ac-row1-lft p{
    color: #fff;
}

.ac-row-txt-hd{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.ac-row-txt-mn{
    font-size: 2rem;
    text-align: justify;
    width: 77%;
}

.ac-row1-img{
    width: 30rem;
}

/* ----------------------Row-2------------------------- */

.ac-row2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 2%;
}

.ac-row2-lft{
    width: 50rem;
    text-align: -webkit-right;
}

.ac-row2-lft p{
    color: #fff;
}

/* ----------------------Responsive------------------------- */
@media only screen and (max-width:1200px) {
    .ac-row-txt-hd{
        font-size: 2.3rem
    }

    .ac-row-txt-mn{
        font-size: 23px;
        width: 90%;
        margin-left: 5%;
    }

    .ac-row1-lft , .ac-row2-lft{
        text-align: center;
    }

    .ac-swift-img{
        width: 20rem;
    }

    .ac-ert-img{
        width: 23rem;
    }

    .ac-head{
        margin-bottom: 5%;
    }

    .ac-row1 , .ac-row2{
        margin: 4% 8%;
    }
}

@media only screen and (max-width:700px) {

    .ac-head p{
        font-size: 2rem;
    }

    .ac-hr{
        width: 14rem;
    }

    .ac-row-txt-hd{
        font-size: 1.5rem;
    }

    .ac-row-txt-mn{
        font-size: 1.2rem;
        width: auto;
    }

    .ac-row1,.ac-row2{
        flex-direction: column;
        text-align: center;
        margin: 5% 8%;
    }

    .ac-row1-lft , .ac-row2-lft{
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
    }

    .ac-row1-img , .ac-row2-img{
        width: 20rem;
    }  
}