.hero {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 10%;
}

.hero-taxi-img {
    margin: 4% 0% 0% 0%;
    width: 100%;
    height: fit-content;
}

.timings {
    word-spacing: 4px;
    /* line-height: 150%; */
    position: absolute;
    color: #FFFFFF;
    top: 15%;
    left: 79%;
    z-index: 2;
    font-size: 0.7em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend;
    /* font-size: 24.475px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.7;
    flex-shrink: 0;
}

.tagline {
    word-spacing: 4px;
    line-height: 150%;
    position: absolute;
    top: 29%;
    left: 54%;
    z-index: 2;
    font-size: 3.3em;
    color: #FFFFFF;
}

.bookNow {
    position: absolute;
    top: 55%;
    left: 74%;
    z-index: 2;
    font-size: 3.3em;
    color: #FFFFFF;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.bookNow-heading {
    display: flex;
    justify-content: center;
    font-size: 0.5em;
}

.bookNow-icons {
    display: flex;
    background: #F2A745FA;
    border-radius: 40px;
    justify-content: space-between;

}

.bookNow-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC440CC;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin: 5px 10px 5px 10px;
}

.navb-link {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 1154px) {
    .tagline {
        font-size: 40px;
    }

    .bookNow-icon {
        width: 50px;
        height: 50px;
        margin: 5px 10px 5px 10px;
    }

    .timings {
        position: absolute;
        top: 16%;
        left: 74%;
        font-size: 0.67em;
        font-weight: 600;
    }
}


@media screen and (max-width: 950px) {
    .tagline {
        font-size: 33px;
    }

    .hero-taxi-img {
        margin-top: 6%;
    }

    .bookNow-icon {
        width: 45px;
        height: 45px;
        margin: 3px 7px 3px 7px;
    }

    .timings {
        position: absolute;
        top: 16%;
        left: 70%;
        font-size: 0.67em;
        font-weight: 600;
    }
}

@media screen and (max-width: 840px) {
    .tagline {
        font-size: 32px;
    }

    .timings {
        position: absolute;
        top: 14%;
        left: 70%;
        font-size: 0.64em;
        font-weight: 600;
    }

}

@media screen and (max-width: 740px) {
    .tagline {
        font-size: 30px;
    }

    .bookNow-icon {
        width: 37px;
        height: 37px;
        margin: 2px 4px 2px 4px;
    }
}

@media screen and (max-width: 667px) {
    .tagline {
        font-size: 23px;
    }

    .bookNow-icon {
        width: 34px;
        height: 34px;
        margin: 2px 2px 2px 2px;
    }

    .timings {
        position: absolute;
        top: 16%;
        left: 70%;
        font-size: 0.6em;
        font-weight: 600;
    }
}

@media screen and (max-width: 600px) {
    .tagline {
        font-size: 19px;
    }

    .bookNow-icon {
        width: 30px;
        height: 30px;
        margin: 2px 2px 2px 2px;
    }

    .timings {
        position: absolute;
        top: 16%;
        left: 67%;
        font-size: 0.60em;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .tagline {
        font-size: 25px;
        font-weight: 600;
        position: absolute;
        top: 47%;
        left: 58%;
        margin: 0%;
        width: fit-content;
    }

    .bookNow {
        position: absolute;
        top: 80%;
        left: 50%;
        z-index: 2;
        font-size: 2.2em;
        color: #FFFFFF;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .bookNow-heading {
        margin-bottom: 2%;
    }

    .bookNow-icon {
        width: 30px;
        height: 30px;
        margin: 2px;
    }

    .timings {
        display: none;
    }
}