.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0,0, 1);
    position: fixed;
    top: 0%;
    left:0%;
    width: 100%;
    height: 9%;
    z-index: 10;
    align-items: center;
    
 }
 .right-section{
     margin:0.4% 2.3% 1% 0%;
 }
 .navbar-ul{
     float: right;
     display: flex;
     flex-direction: row;
     list-style: none;
     width: fit-content;
     /* margin-top: 2%; */
 }
 .logo{
    display: flex;
    align-items: center;
     margin:0% 0% 0% 4%;
     width: 40%;
     height: fit-content;
 }
 .list-items{
     margin-left: 34px;
     width: 140px;
     color: black;
     font-size: 16px;
     display: flex;
     flex-direction: row;
     align-items: center;
     border-radius: 16px;
     font-weight: 400;
     background-color: whitesmoke;
     /* padding: 1px 1px 1px 0; */
 }
 .navbar-icons{
     margin: 2% 10% 2% 3%;   
     background-color: #b1b1b1;
     color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width:32px;
     height: 32px;
     border-radius: 100%;
 }
 .navbar-Bars{
     display:none;
     padding: 0%;
     margin-right: 0%;
 }
 .navbar-barsList{
     padding: 0%;
     margin: 0%;
     width: 120px;
     list-style: none;
 }
 .navbar-barsListItems{
     padding: 0%;
     font-size: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .navb-link{
    text-decoration: none;
 }
 
 @media screen and (max-width: 1381px){
    .navbar{
       height: 11%;
   }
  
}

@media screen and (max-width: 1186px){
    .navbar{
       height: 9%;
   }
  
}

 @media screen and (max-width: 950px){
     .list-items{
         display: none;
     }
     .navbar{
        height: 7%;
        align-items: center;
    }
    .logo{
        width: 30%;
        align-items: center;
    }
     .navbar-Bars{
         position: fixed;
         top: 1%;
         right:2%;
         margin-top: 1%;
         color: white;
         display: inline;
         transform: scale(1.6);
     }
 }
 
 @media screen and (max-width: 900px){
     .navbar{
         height: 5%;
     }
     .logo{
         width: 25%;
     }
     .navbar-Bars{
         transform: scale(1.3);
     }
 }
 
 @media screen and (max-width: 700px){
    .navbar{
        height: 4%;
    }
    .logo{
        margin-top: 3%;
    }
    .navbar-Bars{
        position: fixed;
        top: 0%;
         right:2%;
    }
}
 
 @media screen and (max-width: 600px){
    .navbar{
        height: 4%;
    }
    .logo{
        width: 17%;
        margin-bottom: 3%;
    }
    .navbar-Bars{
        transform: scale(1);
    }
}
