.main-div{
    margin: 5% 0% 5% 0% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    width: 60%;
    border-radius: 20px;
    padding: 100px 10px 100px 10px;
    color: whitesmoke;
}
.thingsToKnowheading{
    font-size: 48px;
    display: flex;
    margin-bottom: 6%;
    font-weight: 600;
}
.list{
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 4%;
    font-weight: 600;
    font-size: 25px;
    list-style:disc;
    word-spacing: 2px;
    line-height: 190%;
}


@media screen and (max-width: 1130px){
    .main-div{
        width: 60%;
        padding: 70px 10px 70px 10px;
    }
    .thingsToKnowheading{
        font-size: 37px;
        font-weight: 600;
    }
    .list{
        font-weight: 600;
        font-size: 20px;
        word-spacing: 2px;
        line-height: 30px;
    }
    
    
}
@media screen and (max-width: 950px){
    .main-div{
        width: 60%;
        padding: 60px 10px 60px 10px;
    }
    .thingsToKnowheading{
        font-size: 33px;
        font-weight: 600;
    }
    .list{
        font-weight: 600;
        font-size: 18px;
        word-spacing: 2px;
        line-height: 20px;
    }
}
@media screen and (max-width: 740px){
    .main-div{
        width: 60%;
        padding: 50px 10px 50px 10px;
    }
    .thingsToKnowheading{
        font-size: 29px;
        font-weight: 600;
    }
    .list{
        font-weight: 600;
        font-size: 16px;
        word-spacing: 2px;
        line-height: 25px;
    }
}

@media screen and (max-width: 600px){
    .main-div{
        width: 60%;
        padding: 30px 10px 30px 10px;
    }
    .thingsToKnowheading{
        font-size: 25px;
        margin-bottom: 5%;
        font-weight: 600;
    }
    .list{
        padding: 10px;
        font-weight: 600;
        font-size: 14px;
        word-spacing: 2px;
        line-height: 25px;
    }
}