.wcu-main-div{
    background-color: #fff;
    margin-top: 15%;
    /* width: 50%; */
}

.wcu-hd{
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    padding: 2%;
}

.wcu-cards-div{
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    padding: 0 1.7rem 0;
}


.wcu-card{
    background-color: rgba(254, 145, 1, 0.48);
    margin-bottom: 3%;
    border-radius: 10px;
    width: 20rem;
    height: 14rem;
}

.wcu-card-img{
    width: 5rem;
    height: 4rem;
    padding: 1.5rem 1.5rem 5px;
}

.wcu-card-l1{
    padding-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.wcu-card-l2{
    padding-left: 2.5rem;
    font-size: 1rem;
    width: 13rem;
    text-align: justify;
}

/* ----------------------Responsive------------------------- */

@media only screen and (max-width:900px) {
    .wcu-hd{
        font-size: 35px;
        text-align: center;
    }

    .wcu-cards-div{
        justify-content: center;
    }
}

@media only screen and (max-width:1200px){
    .wcu-cards-div{
        justify-content: center;
    }

    .wcu-card{
        margin-right: 1rem;
    }
}